@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&display=swap')

$black: #201f1fbd
$navigationfont: 'Edu NSW ACT Foundation', cursive
$red: #e43d3d
.main_app
    background: #1D1C1C
::-webkit-scrollbar
    display: none
.loading
    color: #fff
*
    margin: 0
    padding: 0
    box-sizing: border-box
    list-style: none
    text-decoration: none
.mainSpace
    height: 7vh
    width: 100%
.topnavbar
    position: fixed
    top: 0
    left: 0
    height: 7vh
    width: 100%
    display: flex
    justify-content: start
    align-items: center
    padding-left: 20px
    background: #111
    .nav_home_title_link
        color: #fc3f3f
        font-family: sans-serif
        font-size: 1.4rem
        font-weight: bold
        display: flex
        align-items: center
        justify-content: space-around
        width: 100px
        .main_title
            color: #fff
            span
                color: #fc3f3f
.ulbar
    height: 7vh
    width: 100%
    background: $black
    position: fixed
    bottom: 0
    left: 0
    display: flex
    justify-content: space-around
    align-items: center
    background: #111111ea
    .ulbar_links
        .navigation_links
            display: flex
            justify-content: space-around
            align-items: center
            flex-direction: column
            color: #b8acac
            height: 40px
            transition: all .5s
            h3
                font-family: sans-serif
                font-size: .8rem
        .home_link,
        .explor_link,
        .mylist_link,
        .profile_link
            transition: all .5s 
            color: $red
            scale: (1.2)
            h3
                
.main_home
    min-height: 100vh
    width: 100%
    background: #1D1C1C
    .main_top_movie
        display: flex
        overflow-x: auto
        flex-direction: row
        min-width: 100%
        align-items: center
        padding: 0 20px 0 20px
        scroll-behavior: smooth
        .mian_single_movie
            height: 223px
            min-width: 150px
            margin-right: 10px
            border-radius: 7px
            .rating
                height: 35px
                width: 45px
                font-family: $navigationfont
                font-size: .8rem
                color: #fff
                display: flex
                justify-content: center
                align-items: center
                background: red
                margin: 10px
                border-radius: 6px

.main_top_movie_title_hanlder
    height: 70px
    max-width: 100%
    display: flex
    justify-content: start
    align-items: center
    padding-left: 20px
    .top_20_movies
        font-family: sans-serif
        font-size: 1.2rem
        color: #fff
.main_random_movie_handler
    height: 45vh
    width: 100%
    background: lightblue
    display: flex
    align-items: flex-end
    justify-content: center
    padding-bottom: 20px
.main_random_movie_controler
    height: 25%
    width: 100%
    display: flex
    justify-content: space-around
    align-items: flex-start
    flex-direction: column
    padding-left: 20px 
    .random_movie_title
        font-size: 1.4rem 
        color: #fff
        font-family: Verdana, Geneva, Tahoma, sans-serif
        text-shadow: 0 0 20px #111
    .main_controler_play_and_add_to_list
        width: 70%
        display: flex
        justify-content: start
        align-items: center
        margin-top: 20px    
        .play_link , .mian_add_to_list_handler
            color: #fff
            height: 35px
            width: 100px
            background: red
            display: flex
            justify-content: center
            align-items: center
            border-radius: 12px
            font-family: sans-serif
            margin-right: 10px
            .random_movie_play_text
                margin-left: 7px
        .mian_add_to_list_handler
            background: none
            border: 2px solid #fff
            color: #fff
            width: 120px
            display: flex
            justify-content: center
            align-items: center
            .add_to_list_test
                margin-left: 7px


.mian_search_movie_handler
    height: 100px
    width: 100%
    background: #1D1C1C
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: row
    padding: 0 20px
    input
        width: 80%
        background: #201F25
        height: 50px
        border: none
        border-radius: 10px
        display: flex
        padding: 20px
        color: #fff
        &:focus
            outline: none
    button
        height: 50px
        width: auto
        padding: 0 10px
        color: red
        background: #5a0c0c6b
        outline: none
        border: none
        border-radius: 10px
        margin-left: 10px
.main_explor_handler
    min-height: 100vh
    width: 100%
    background: #1D1C1C
    display: grid
    grid-template-columns: repeat(2,1fr)
    grid-template-rows: auto
    justify-items: center
    align-items: center
    grid-gap: 12px
    .singleMovie_explor_image
        height: 270px
        width: 100%
        border-radius: 10px
        align-self: center
        .rating
            height: 35px
            width: 45px
            font-family: $navigationfont
            font-size: .8rem
            color: #fff
            display: flex
            justify-content: center
            align-items: center
            background: red
            margin: 10px
            border-radius: 6px
.main_next_prev_page_container
    height: 70px
    width: 100%
    background: #1D1C1C
    display: flex
    justify-content: space-around
    align-items: center
    .curren_page
        color: red
        text-shadow: 0 0 10px #fff
    button
        height: 40px
        width: 100px
        background: #851010
        border: none
        border-radius: 10px
        color: #fff
        font-size: 1rem
        font-family: sans-serif
        font-weight: bold
        

    
