@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&display=swap");
.main_app {
  background: #1D1C1C;
}

::-webkit-scrollbar {
  display: none;
}

.loading {
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.mainSpace {
  height: 7vh;
  width: 100%;
}

.topnavbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
  background: #111;
}
.topnavbar .nav_home_title_link {
  color: #fc3f3f;
  font-family: sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
}
.topnavbar .nav_home_title_link .main_title {
  color: #fff;
}
.topnavbar .nav_home_title_link .main_title span {
  color: #fc3f3f;
}

.ulbar {
  height: 7vh;
  width: 100%;
  background: rgba(32, 31, 31, 0.7411764706);
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(18, 18, 41, 0.7803921569);
}
.ulbar .ulbar_links .navigation_links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: #b8acac;
  height: 40px;
  transition: all 0.5s;
}
.ulbar .ulbar_links .navigation_links h3 {
  font-family: sans-serif;
  font-size: 0.8rem;
}
.ulbar .ulbar_links .home_link,
.ulbar .ulbar_links .explor_link,
.ulbar .ulbar_links .mylist_link,
.ulbar .ulbar_links .profile_link {
  transition: all 0.5s;
  color: #e43d3d;
  scale: 1.2;
}
.main_home {
  min-height: 100vh;
  width: 100%;
  background: rgba(21, 21, 43, 0.4235294118);
}
.main_home .main_top_movie {
  display: flex;
  overflow-x: auto;
  flex-direction: row;
  min-width: 100%;
  align-items: center;
  padding: 0 20px 0 20px;
  scroll-behavior: smooth;
}
.main_home .main_top_movie .mian_single_movie {
  height: 223px;
  min-width: 150px;
  margin-right: 10px;
  border-radius: 7px;
}
.main_home .main_top_movie .mian_single_movie .rating {
  height: 35px;
  width: 45px;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-size: 0.8rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  margin: 10px;
  border-radius: 6px;
}

.main_top_movie_title_hanlder {
  height: 70px;
  max-width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
}
.main_top_movie_title_hanlder .top_20_movies {
  font-family: sans-serif;
  font-size: 1.2rem;
  color: #fff;
}

.main_random_movie_handler {
  height: 45vh;
  width: 100%;
  background: lightblue;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 20px;
}

.main_random_movie_controler {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 20px;
}
.main_random_movie_controler .random_movie_title {
  font-size: 1.4rem;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 0 0 20px #111;
}
.main_random_movie_controler .main_controler_play_and_add_to_list {
  width: 70%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
}
.main_random_movie_controler .main_controler_play_and_add_to_list .play_link, .main_random_movie_controler .main_controler_play_and_add_to_list .mian_add_to_list_handler {
  color: #fff;
  height: 35px;
  width: 100px;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-family: sans-serif;
  margin-right: 10px;
}
.main_random_movie_controler .main_controler_play_and_add_to_list .play_link .random_movie_play_text, .main_random_movie_controler .main_controler_play_and_add_to_list .mian_add_to_list_handler .random_movie_play_text {
  margin-left: 7px;
}
.main_random_movie_controler .main_controler_play_and_add_to_list .mian_add_to_list_handler {
  background: none;
  border: 2px solid #fff;
  color: #fff;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_random_movie_controler .main_controler_play_and_add_to_list .mian_add_to_list_handler .add_to_list_test {
  margin-left: 7px;
}

.mian_search_movie_handler {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 20px;
  background: rgba(21, 21, 43, 0.4235294118);
}
.mian_search_movie_handler input {
  width: 80%;
  background: #201F25;
  height: 50px;
  border: none;
  border-radius: 10px;
  display: flex;
  padding: 20px;
  color: #fff;
}
.mian_search_movie_handler input:focus {
  outline: none;
}
.mian_search_movie_handler button {
  height: 50px;
  width: auto;
  padding: 0 10px;
  color: red;
  background: rgba(90, 12, 12, 0.4196078431);
  outline: none;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
}

.main_explor_handler {
  min-height: 100vh;
  width: 100%;
  background: rgba(21, 21, 43, 0.4235294118);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  grid-gap: 12px;
  padding: 10px;
}
.main_explor_handler .singleMovie_explor_image {
  height: 270px;
  width: 100%;
  border-radius: 10px;
  align-self: center;
}
.main_explor_handler .singleMovie_explor_image .rating {
  height: 35px;
  width: 45px;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-size: 0.8rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  margin: 10px;
  border-radius: 6px;
}

.main_next_prev_page_container {
  height: 70px;
  width: 100%;
  background: #1D1C1C;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main_next_prev_page_container .curren_page {
  color: red;
  text-shadow: 0 0 3px #fff;
}
.main_next_prev_page_container button {
  height: 40px;
  width: 100px;
  background: #851010;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */