$black: #201F1F
$navigationfont: 'Edu NSW ACT Foundation', cursive
*
    margin: 0
    padding: 0
    box-sizing: border-box
    list-style: none
    text-decoration: none
.navigatoin_bar_system
    height: 5vh
    width: 100%
    background: #111
    display: flex
    align-items: center
    justify-content: center
    .ul_title_and_search_and_notifcation
        width: 100%
        background: pink
        display: flex
        justify-content: start
        align-items: center
        .title
            .title_link
                color: red
    .ulbar
        height: 7vh
        width: 100%
        background: $black
        position: fixed
        bottom: 0
        left: 0
        display: flex
        justify-content: space-around
        align-items: center
        .ulbar_links
            .navigation_link
                font-family: $navigationfont
                
